
swiper {
  height: 400px;
  width: 600px;
}

.menu {
  display: flex;
  color: white;
  background: #00964a;
  margin: 0;
  max-width: 100%;
  padding: 0;
  flex-wrap: nowrap;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;

  a {
    padding: 1rem;
  }
  a:hover {
    color: orange;
  }
}

.header2 {
  display: inline-block;
  font-family: "Book Antiqua", sans-serif;
  align-items: center;
  margin-left: 13px;
  margin-top: 0;
  margin-bottom: 0;
}
